.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f5f5f5;
  border-radius: 6px;
}

table, th, td {
  border: solid 1px #ededed;
  padding: 5px;
}

tr:hover {
  background-color: rgb(218, 218, 218);
}

img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.poiter {
  cursor: pointer;
}

.emp-title {
  display: flex;
}

.emp-title-name {
  margin-left: 1em;
  padding-top: 0.5em;
}

.emp-title-name p{
  margin: 0px;
  font-size: 12px;
}

.emp-title-name h4{
  margin-top: 0px;
  margin-bottom: 0.3rem
}
