<main class="content">
  <!-- <post-list [posts]="posts" [isSelected]="isSelected" (onGetData)="onGetData($event)" (onSelectElm)="onSelectElm($event)"></post-list>
  <post-detail [post]="selectedPost" [isSelected]="isSelected" (onShow)="onShow($event)"></post-detail> -->

  <employee-list [employees]="employees" (onGetData)="onGetData($event)" (onSelectElm)="onSelectElm($event)"></employee-list>
  <employee-detail [employee]="selectedEmployee" [isSelected]="isSelected" (onShow)="onShow($event)"></employee-detail>
</main>
