<aside class="aside-content">
  <h2>All categories</h2>
  <ul>
    <li>
      <a href="#">Categories 1</a>
    </li>
    <li>
      <a href="#">Categories 2</a>
    </li>
    <li>
      <a href="#">Categories 3</a>
    </li>
    <li>
      <a href="#">Categories 4</a>
    </li>
    <li>
      <a href="#">Categories 5</a>
    </li>
    <li>
      <a href="#">Categories 1</a>
    </li>
    <li>
      <a href="#">Categories 2</a>
    </li>
    <li>
      <a href="#">Categories 3</a>
    </li>
    <li>
      <a href="#">Categories 4</a>
    </li>
    <li>
      <a href="#">Categories 5</a>
    </li>
  </ul>
</aside>
